
{% extends 'base/base.html' %}

{% block contenido %}    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
        {% for p in productos %}
            <div class="col">
                <div class="card shadow-sm">
                    
                    {% if p.imagen %}
                        <img src="{{p.imagen.url}}" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    {% else %}
                        <svg  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Sin imagen</text></svg>
                    {% endif %}
                        
                    

                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}} <span class="badge bg-secondary">${{p.precio}}</span><span class="badge rounded-pill text-bg-info">{{p.categoria.nombre}}</span>
                        </h5>
                        <p class="card-text">{{p.descripcion}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                
                                {% for c in p.categoria2.all %}
                                    <span class="badge rounded-pill text-bg-info">{{c.nombre}}</span>
                                {% endfor %}
                                    

                            </div>
                            <small class="text-muted"><a type="button" class="btn btn-success" href="{% url 'productos:dar_me_gusta' p.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                              </svg></a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Sin productos</h4>
                        <p>Aun no se han cargado productos.</p>
                        <hr>
                        <p class="mb-0">Por favor ingresa mas adelante.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}