
{% extends 'base/base.html' %}

{% block contenido %}    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
        {% for p in productos %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}} <span class="badge bg-secondary">${{p.precio}}</span><span class="badge rounded-pill text-bg-info">{{p.categoria.nombre}}</span>
                        </h5>
                        <p class="card-text">{{p.descripcion}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                
                                {% for c in p.categoria2.all %}
                                    <span class="badge rounded-pill text-bg-info">{{c.nombre}}</span>
                                {% endfor %}
                                    

                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Sin productos</h4>
                        <p>Aun no se han cargado productos.</p>
                        <hr>
                        <p class="mb-0">Por favor ingresa mas adelante.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}