{% extends 'base/base.html' %}

{% block contenido %}
<div class="row">
    <div class="col">
        <a type="button" class="btn btn-success" href="{% url 'productos:admin_nuevo_producto' %}">NUEVO PRODUCTO</a>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        Lista de productos
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {% for p in productos %}
                    <tr>
                        <th scope="row">{{p.id}}</th>
                        <td>{{p.nombre}}</td>
                        <td>${{p.precio}}</td>
                        <td>
                            <a href="{% url 'productos:editar' p.id %}" class="btn btn-warning">Editar</a>
                            <button type="button" class="btn btn-danger">Eliminar</button>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/paginado.html' %}
    </div>
</div>


{% endblock contenido %}